
<div class='container ' style='width:50%;'>
  <p class=" text-center h4 main-color">cart</p>
<hr>
<% if @cart %>
    <% @cart.each do |book| %>
    <div class="container">
        <div class="row"> <%# BOOK DETAILS%>
          <div class="col-5 shadow-md"><%# BOOK FRONT_COVER%>
              <%# image_tag "book-mockup.png", style: "width:200px; height:300px; position:absolute;", class:"shadow-md"%> <%#  MOCKUP IMAGE %>
              <% if book.front_cover == nil %>
                <%= image_tag "book-mockup.png", style: "width:100%;"%> <%#  DEFAULT IMAGE %>
              <% else  %>
                <%= image_tag book.front_cover, style: "width:100%;"%> <%#  FRONT_COVER IMAGE %>
              <% end %>
          </div>
          <div class="col-7 d-flex flex-column justify-content-between"><%# BOOK DETAILS%>
              <div>
                    <h4><strong><%=book.title%></strong></h4><%# TITLE %>
                    <div class="fg-color">by: <%= link_to book.author, class:"author" %></div><%# AUTHOR %>
                    <%# STARS %>
                    <div class="">
                      <span class="fa fa-star star"></span>
                      <span class="fa fa-star star"></span>
                      <span class="fa fa-star star"></span>
                      <span class="fa fa-star star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <%# description %>
                    <div>
                      <p class="fg-color font-italic description">
                      <%if book.description.length > 100 %>
                          <%= book.description[0..100]%>...
                      <% else %>
                          <%= book.description%>
                      <% end %>
                      </p>
                    </div>
                </div>
                <%# GENRE %>
                <div>
                  <% if book.genres %>
                    <small>
                    <div class='select2-results text-left'>
                            <% book.genres.each do |g| %>
                            <div class='tags-btn'>
                            <%= link_to g.name, genre_path(g.name) %>
                            </div>
                            <% end %>
                    </div>
                    </small>
                    <% end %>
                </div>
                <div class="fg-color">owner: <%= link_to(book.owner_name,user_path(book.owner_id).html_safe) %></div><%# owner %>
               
                <div class="">
                  <% if book.price != nil && book.price != "" %>
                    <% form_tag(payments_path) do |f|%>
                      <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>"
                        data-name="payment"
                        data-description="Book: <%= book.title %>"
                        data-amount="<%=book.price%>"
                        data-label="RM <%=book.price%>"
                        data-email="<%=current_user.email%>">
                      </script>
                      <% end %>
                    </form>
                    <%= link_to "<span>RM #{book.price}</span>".html_safe,new_payment_path(book), class:"btn btn-sm sharp btn-process" %><%# PRICE-BUTTON %>
                  <% else %>
                    <%= link_to "<span> #{book.price} </span>".html_safe,new_payment_path(book), class:"btn btn-sm sharp btn-process" %><%# PRICE-BUTTON %>
                  <% end %>
                    <%= link_to "<span> remove </span>".html_safe,remove_cart_path(book),method: :delete, data: { confirm: "removing '#{book.title}' from your cart?" }, class:"btn btn-sm sharp btn-remove" %><%# REMOVE-BUTTON %>
              </div>
          </div>
        </div>
        <hr>
      </div>
    <% end %>
<% else %>
    your cart is empty
<% end %>

</div>