<div class="container text-center">
    <div class="fg-color">
      <p>“A reader lives a thousand lives before he dies . . . <br>The man who never reads lives only one.”</p>
      <h6>George R.R. Martin</h6>
    </div>
</div>
<br>

<%# SEARCH BAR %>
<div class="container">
    <div id="custom-search-input">
<%# ,class:'search-query form-control' %>
        <%= form_tag(search_page_path, method: :get) do %>
         <div class="input-group">
            <%= search_field_tag :search, params[:search], placeholder: 'Search', class:'form-control'%>
            <%= button_tag '<i class="fas fa-search" aria-hidden="true"></i>'.html_safe, class:" btn btn-info"%>
        </div>
        <% end %>

        <%# <input type="text" class="  search-query form-control" placeholder="Search ..." /> %>
        <%# <button class="btn btn-link search-btn"><i class="lyphicon glyphicon-search"></i></button> %>

    </div>
</div>
<%#byebug %>

<br>
<%# link_to('View Book', books_path) %>
   <div class="container">
    <% if @books == nil %>
        <div class="container text-center">
            <h4 class="fg-color"> There's no books yet!</h4>
        </div>
    <% else %>
    <div>
        <h4 class="main-color font-italic">Freshly-Added-Books</h4> <%#FOR GENRE%>
    </div>
    <div class="row">
        <% @books.each do |book| %>
            <div class="container col-md-3 col-sm-6 shadow-md">
                <div class="product-grid6">
                    <div class="product-image6">
                            <%= link_to image_tag(book.front_cover),book_path(book)%>
                    </div>
                    <div class="product-content text-center">
                        <div>
                            <h6><strong><%= book.title%></strong></h6> <%# TITLE %>
                            <p class="font-italic author"><%=book.author%><br><%# AUTHOR %>
                            <%# STARS %>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star"></span>
                        <% if book.genres %>
                        <small>
                        <div class='select2-results text-center'>
                                <% book.genres[0..1].each do |g| %>
                                <div class='tags-btn'>
                                <%= link_to g.name, genre_path(g.name) %>
                                </div>
                                <% end %>
                        </div>
                        </small>
                        <% end %>
                            </p>
                        </div>
                        
                        <div>
                           <% if book.price != nil && book.price != '' %>
                             <%= link_to "<span>RM #{book.price}</span>".html_safe,book_path(book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                            <% else %>
                             <%= link_to "<span>unknow</span>".html_safe,book_path(book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                            <% end %>  
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <hr>
</div>
    <% end %>
    </div>