<div class="container text-center">
    <div class="fg-color">
      <p>“A reader lives a thousand lives before he dies . . . <br>The man who never reads lives only one.”</p>
      <h6>George R.R. Martin</h6>
    </div>
</div>
<br>
<%# SEARCH BAR %>
<div class="container">
    <div id="custom-search-input">
        <input type="text" class="  search-query form-control" placeholder="Search ..." />
        <span class="input-group-btn"></span>
    </div>
</div>
<br>
<%# link_to('View Book', books_path) %>
<div class="container text-center">

<% if @books == nil %>
    <div class="container fg-color">
        <h4> There's no books yet!</h4>
    </div>
<% else %>
    <% @books.each do |book| %>
        <div class="container">
            <%= image_tag(url_for(book.cover), :size => "80x120") if book.cover.attached?  %>
            <%= link_to('<h4>#{book.title}</h4>'.html_safe, book_path(book), class: "title main-color") %>
            <%= link_to('<h6>#{book.author}</h6>'.html_safe, book_path(book), class: "author main-color") %>
            <%= link_to('<p>#{book.genre}</p>'.html_safe, book_path(book), class: "author main-color") %>
            <div class="container">
                <%= link_to('<h6>#{book.price}</h6>'.html_safe, book_path(book), class: "author main-color") %>
            </div>
        </div>
    <% end %>
<% end %>
    
</div>
