<div class="container text-center">
    <div class="fg-color">
      <p>“A reader lives a thousand lives before he dies . . . <br>The man who never reads lives only one.”</p>
      <h6>George R.R. Martin</h6>
    </div>
</div>
<br>
<%# SEARCH BAR %>
<div class="container">
    <div id="custom-search-input">
<<<<<<< HEAD
<%# ,class:'search-query form-control' %>
        <%= form_tag(search_page_path, method: :get) do %>
         <div class="input-group">
            <%= text_field_tag :query,
            params[:query],
            autocomplete: :off,
            placeholder: 'Search',
            class:'form-control',
            type:"text",
            id:"query",
            name:"query"%>
            <%= button_tag '<i class="fas fa-search" aria-hidden="true"></i>'.html_safe, class:" btn btn-info"%>
        </div>
        <% end %>

        <%# <input type="text" class="  search-query form-control" placeholder="Search ..." /> %>
        <%# <button class="btn btn-link search-btn"><i class="lyphicon glyphicon-search"></i></button> %>

=======
        <input type="text" class="  search-query form-control" placeholder="Search ..." />
        <span class="input-group-btn"></span>
>>>>>>> parent of 2be46a0... searchkick working
    </div>
</div>

<br>
<%# link_to('View Book', books_path) %>
   <div class="container">
    <% if @books == nil %>
        <div class="container text-center">
            <h4 class="fg-color"> There's no books yet!</h4>
        </div>
    <% else %>
    <div>
        <h4 class="main-color font-italic">Romance</h4> <%#FOR GENRE%>
    </div>
    <div class="row">
        <% @books.each do |book| %>
            <div class="container col-md-3 col-sm-6 shadow-md">
                <div class="product-grid6">
                    <div class="product-image6">
                        <a href="<%=book_path(book)%>">
                            <%= image_tag book.front_cover, style:"width:245px; height:370px;"%>
                        </a>
                    </div>
                    <div class="product-content text-center">
                        <div>
                            <h6><strong><%= book.title%></strong></h6> <%# TITLE %>
                            <p class="font-italic author"><%=book.author%><br><%# AUTHOR %>
                            <%# STARS %>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star"></span>
                            </p>
                        </div>
                        <div>
                            <%= link_to "<span>RM 10.00</span>".html_safe,book_path(book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
</div>
    <% end %>
    </div>