<div class="container">
    <div class="row">

<%# Review Book %>
  <div class="col-md-9">
      
<div class="container">
    <% if @user_books == nil %>
        <div class="container text-center">
            <h4 class="fg-color"> There's No Book in your shelve.</h4>
        </div>
    <% else %>
    <div>
        <h4 class="main-color font-italic">My Shelve</h4> <%#FOR GENRE%>
    </div>
    <div class='container'>
    <div class="row">
        <% @user_books.each do |book| %>
            <div class="container col-md-3 col-sm-6 shadow-md">
                <div class="product-grid6">
                    <div class="product-image6">
                      <div>
                        <a href="<%=book_path(book)%>">
                            <%= image_tag book.front_cover,class:'img-responsive img-fluid', style:"width:100%;"%>
                        </a>
                        </div>
                    </div>
                    <div class="product-content text-center">
                        <div cla>
                            <p class='h5'><strong><%= book.title%></strong></p> <%# TITLE %>
                            <p class="font-italic author"><%=book.author%> <%# AUTHOR %>
                            <br>
                            Genre: <%= link_to book.genre, class:"genre fg-color" %> <%# GENRE %>
                            <br>
                            <%# STARS %>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star"></span>
                            </p>
                        </div>
                        <div>
                            <%= link_to "<span>RM 10.00</span>".html_safe,book_path(book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
</div>
    <% end %>
    </div>
    </div>


  </div>
 
  <div class="col-3">
    <div class="container ">
        <%# USER NAME %>
        <div class="text-center">
           <p class="h3 main-color"> <%= @username.capitalize %> </p>
        <hr>
        </div>
        
        <%# USER AVATAR %>
        <div class="container">
          <div> <%# USERS AVATER %>
          <%# byebug %>
            <%# if @user.image == nil && !@user.image.attached? %>
             <%= image_tag 'avatar-placeholder.gif',style:'width:100%;' %>
            <%# else %>
              <%#image_tag(@user.image,style:'width:100%;')%>
            <%# end %>
          </div>
          <br>
          <div class="bottom text-center">
                    <a class="btn btn-sm" href="#">
                        <i class="fas fa-book" alt='books'></i>
                        <br>
                        <%= @user_books.size %>
                    </a>
                    <a class="btn btn-sm" href="#">
                        <i class="fas fa-book"></i>
                        <br>
                        <%= @user_books.size %>
                    </a>
                    <a class="btn btn-sm" href="#">
                        <i class="fas fa-book"></i>
                        <br>
                        <%= @user_books.size %>
                    </a>
                   
                </div>


        </div>
    </div>
  </div>

    </div>
</div>
