
<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :published_date %>
    <%= f.input :description %>
    <%= f.input :genre %>
    <%= f.input :front_cover %>
    <%= f.input :back_cover %>
    <%= f.input :features %>
    <%= f.input :renting %>
    <%= f.input :owner_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
