<%= simple_form_for @book, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs ">
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :published_date %>
    <%= f.input :description %>
    <%= f.input :genre_ids, input_html: {class: 'genre-tags', multiple: "multiple" }, collection: Genre.order(:name) %> 
    <%= f.input :price %>
    <%= f.label :front_cover %>
    <%= f.file_field :front_cover %>
    <%# f.label :back_cover %>
    <%# f.file_field :back_cover %>
    <%# f.label :features %>
    <%# f.file_field :features, multiple: true %>
  </div>
  <br>
  <div class="form-actions text-center">
    <%= f.button :submit %>
  </div>
<% end %>

