 <div class="container">
    <% if @books == nil && @genre == nil %>
        <div class="container text-center">
            <p class="h4 fg-color"> There's no books yet!</p>
        </div>
    <% else %>
        <% if @genre %>
            <div class='text-center'>
                <p class="h5 main-color font-italic"><%= @genre %></p> <%#FOR GENRE%>
                <hr>
            </div>
            
        <% end %>
        <div class="row">
        <% @books.each do |book| %>
            <div class="container col-md-3 col-sm-6 shadow-md">
                <div class="product-grid6">
                    <div class="product-image6">
                            <%= link_to image_tag(book.front_cover),book_path(book)%>
                    </div>
                    <div class="product-content text-center">
                        <div>
                            <h6><strong><%= book.title%></strong></h6> <%# TITLE %>
                            <p class="font-italic author"><%=book.author%><br><%# AUTHOR %>
                            <%# STARS %>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star"></span>
                            </p>
                        </div>
                        <%# GENRE %>
                         <% if book.genres %>
                            <small>
                            <div class='select2-results text-center'>
                                    <% book.genres[0..1].each do |g| %>
                                    <div class='tags-btn'>
                                    <%= link_to g.name, genre_path(g.name) %>
                                    </div>
                                    <% end %>
                            </div>
                            </small>
                        <% end %>

                        <div>
                           <% if book.price != nil && book.price != '' %>
                             <%= link_to "<span>RM #{book.price}</span>".html_safe,book_path(book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                            <% else %>
                             <%= link_to "<span>unknow</span>".html_safe,book_path(book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                            <% end %>  
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <hr>
        </div>
  
    <% end %>
</div>