<hr>
<div class="container">
    <div id="custom-search-input">
<%# ,class:'search-query form-control' %>
       <%= form_tag(books_path, method: :get,role: 'search') do %>
         <div class="input-group">
            <%= text_field_tag :query,
            params[:query],
            autocomplete: :on,
            placeholder: 'Search',
            class:'form-control typeahead',
            type:"text",
            id:"book_search",
            name:"query"%>
            <%= button_tag '<i class="fas fa-search" aria-hidden="true"></i>'.html_safe, class:" btn btn-info"%>
        </div>
        <% end %> 

        <%# <input type="text" class="  search-query form-control" placeholder="Search ..." /> %>
        <%# <button class="btn btn-link search-btn"><i class="lyphicon glyphicon-search"></i></button> %>

    </div>
</div>
<hr>
<div class="container">

    <% if @search_result == nil %>

        <div class="container text-center">
            <p class="h4 fg-color"> there's nothing yet</p>
        </div>

    <% else %>

    <div class="row">

        <% @search_result.each do |book| %>
            <div class="container col-md-3 col-sm-6 shadow-md">
                <div class="product-grid6">
                    <div class="product-image6">
                            <%= link_to image_tag(book.front_cover),book_path(book)%>
                    </div>
                    <div class="product-content text-center">
                        <div>
                            <h6><strong><%= book.title%></strong></h6> <%# TITLE %>
                            <p class="font-italic author"><%=book.author%><br><%# AUTHOR %>
                            <%# STARS %>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star star"></span>
                            <span class="fa fa-star"></span>
                            </p>
                        </div>
                        <div>
                            <%= link_to "<span>RM 10.00</span>".html_safe,book_path(book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>

    </div>

    <% end %>

</div>