<div class="container">
  <div class="row">
  <div class="col-sm-1">
  </div>
    <%##############################################  %>
    <%# REVIEW-Books  %>
    <div class="col-md-8">

    <div class="navbar">
        <div class="nav-header">
            <%= link_to('< Back', :back, class: "fg-color") %>  
        </div>
        <div class="text-right fg-color"> 
          <% if user_signed_in? %>
            <% if current_user.id == @book.owner_id %>
              <i class="far fa-edit"></i>
              <%= link_to 'Edit', edit_book_path(@book), class:"fg-color" %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="container">

      

        <p> <%# OWNER NAME  %>
          <strong>Owner:</strong>
          <%# if @owner.username == nil && @owner.name == nil %>
            <%# YouKnowWho %>
          <%# else %>
            <%# if @owner.username == nil%>
              <%#owner_name = @owner.name%>
            <%# else %>
             <%# owner_name = @owner.username%> 
            <%# <% end %>
            <%# link_to(owner_name,user_path(@owner).html_safe) %>
          <%# end %>

           <% if @book.owner_name == nil%>
              YouKnowWho
          <% else %>
            <%= link_to(@book.owner_name,user_path(@owner).html_safe) %>
          <% end %>
        </p>
        <div class="row"> <%# BOOK DETAILS%>
          <div class="col-4 shadow-md"><%# BOOK FRONT_COVER%>
              <%# image_tag "book-mockup.png", style: "width:200px; height:300px; position:absolute;", class:"shadow-md"%> <%#  MOCKUP IMAGE %>
              <% if @book.front_cover == nil %>
                <%= image_tag "book-mockup.png", style: "width:100%;"%> <%#  DEFAULT IMAGE %>
              <% else  %>
                <%= image_tag @book.front_cover, style: "width:100%;"%> <%#  FRONT_COVER IMAGE %>
              <% end %>
          </div>
          <div class="col-8 text-left  d-flex flex-column justify-content-between"><%# BOOK DETAILS%>
              <div>
                <h4><strong><%=@book.title%></strong></h4><%# TITLE %>
                    <div class="fg-color">by: <%= link_to @book.author, class:"author" %></div><%# AUTHOR %>
                    <%# STARS %>
                    <div class="">
                      <span class="fa fa-star star"></span>
                      <span class="fa fa-star star"></span>
                      <span class="fa fa-star star"></span>
                      <span class="fa fa-star star"></span>
                      <span class="fa fa-star"></span>
                    </div>
                    <%# description %>
                    <div>
                      <p class="fg-color font-italic description">
                      <%= @book.description%>
                      </p>
                    </div>
              </div>
              <%# GENRE %>
                <div>
                  <% if @book.genres %>
                    <small>
                    <div class='select2-results text-left'>
                            <% @book.genres.each do |g| %>
                            <div class='tags-btn'>
                            <%= link_to g.name, genre_path(g.name) %>
                            </div>
                            <% end %>
                    </div>
                    </small>
                    <% end %>
                </div>
              <%# REnt %>
              <div class="">
                  <% if @book.price != nil && @book.price != "" %>
                    <%= link_to "<span>RM #{@book.price}</span>".html_safe,add_cart_path(@book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                  <% else %>
                    <%= link_to "<span> unknow </span>".html_safe,add_cart_path(@book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                  <% end %>              
              </div>
          </div>
        </div>
      </div>
      
      <br>
      <hr>
      
      <div class="container"><%# RAING SECTION %>
				<div class="review-block">

					<div class="row"> <%# ONE OF COMMENT%>
						<div class="col-sm-3 text-right">
							<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
							<div class="review-block-name"><a href="#">nktailor</a></div>
							<div class="review-block-date">January 29, 2016<br/>1 day ago</div>
						</div>
						<div class="col-sm-9">
							<div class="review-block-rate">
								 <%# STARS %>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star"></span>
							</div>
							 <div class="review-block-description"> <%# COMMENTS %>
                    Jojo Moyes’ tearjerker novel by the same name tells the touching love story of two unlikely people who make the emotional journey from being strangers to soulmates.
                </div>
						</div>
					</div>
          <hr/><%# END ONE OF COMMENT%>

          <div class="row"> <%# ONE OF COMMENT%>
						<div class="col-sm-3 text-right">
							<img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
							<div class="review-block-name"><a href="#">nktailor</a></div>
							<div class="review-block-date">January 29, 2016<br/>1 day ago</div>
						</div>
						<div class="col-sm-9">
							<div class="review-block-rate">
								 <%# STARS %>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star"></span>
							</div>
							 <div class="review-block-description"> <%# COMMENTS %>
                    Jojo Moyes’ tearjerker novel by the same name tells the touching love story of two unlikely people who make the emotional journey from being strangers to soulmates.
                </div>
						</div>
					</div>
          <hr/><%# END ONE OF COMMENT%>
          
      </div>
     </div><%# RAING SECTION %>

    </div> <%# END OF REVIEW-BOOK%>
    
    <%##############################################  %>
    <%# Similiar-Books  %>
      <div class="col-3 d-md-none d-md-block">
        <div class="container">

            <div class="container text-center">
              <h4 class="main-color">Similiar Books</h4>
              <hr>
            </div>

            <%# ONE OF SIMILAIR BOOK %>
            <div class="container text-center">
              <%# image_tag @book.front_cover,size: "80x120"%> <%#  FRONT_COVER IMAGE %>
              <% @books.each do |book|%>
                  <%= link_to image_tag(book.front_cover,class:'img-responsive img-fluid', style:"width:100%;"),book_path(book)%>         
                <div>
                  <strong><%=book.title%></strong> <%# TITLE %>
                  <div>
                  <%= link_to book.author,book_path(book), class:"author" %> <%# AUTHOR %>
                  </div>
                  <%# STARS %>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star star"></span>
                  <span class="fa fa-star"></span>
                </div>
                <% if book.genres %>
                        <small>
                        <div class='select2-results text-center'>
                                <% book.genres[0..1].each do |g| %>
                                <div class='tags-btn'>
                                <%= link_to g.name, genre_path(g.name) %>
                                </div>
                                <% end %>
                        </div>
                        </small>
                        <% end %>
                <div>
                  <% if book.price != nil && book.price != '' %>
                      <%= link_to "<span>RM #{book.price}</span>".html_safe,book_path(book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                    <% else %>
                      <%= link_to "<span>unknow</span>".html_safe,book_path(book), class:"btn btn-sm sharp btn-price" %><%# PRICE-BUTTON %>
                    <% end %>  
                </div>
                <br>
              <%end %>
            </div><%# END OF ONE OF SIMILAIR BOOK %>
            
        </div>
      </div>

    <div class="col-sm-1">
   </div>

  </div>
</div>